<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>OrgDat</display-name>
    <description>
        Store One Organization Databases
    </description>
    
    <welcome-file-list>
        <welcome-file>/HTML/org_dat.html</welcome-file>
    </welcome-file-list>
    
    <filter>  
        <filter-name>CookieFilter</filter-name>  
        <filter-class>zutk.b5.orgdat.controllers.filters.CookieFilter</filter-class>  
    </filter>  
    
    <filter>  
        <filter-name>LogFilter</filter-name>  
        <filter-class>zutk.b5.orgdat.controllers.filters.LogFilter</filter-class>  
    </filter> 
    
     <filter>  
        <filter-name>OrganizationFilter</filter-name>  
        <filter-class>zutk.b5.orgdat.controllers.filters.OrganizationFilter</filter-class>  
    </filter> 
    
     <filter>  
        <filter-name>DatabaseFilter</filter-name>  
        <filter-class>zutk.b5.orgdat.controllers.filters.DatabaseFilter</filter-class>  
    </filter> 
    
     <filter>  
        <filter-name>TableFilter</filter-name>  
        <filter-class>zutk.b5.orgdat.controllers.filters.TableFilter</filter-class>  
    </filter>
    
     <filter>  
        <filter-name>AccountFilter</filter-name>  
        <filter-class>zutk.b5.orgdat.controllers.filters.AccountFilter</filter-class>  
    </filter>    
    
    
    
    <filter-mapping>  
        <filter-name>CookieFilter</filter-name>  
        <servlet-name>ChartProvider</servlet-name>
        <servlet-name>ManageRecord</servlet-name>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-name>ShowDetail</servlet-name>
        <servlet-name>ManageTable</servlet-name>
        <servlet-name>ManageMember</servlet-name>
        <servlet-name>ManageDatabase</servlet-name>
        <servlet-name>ManageOrganization</servlet-name>
        <servlet-name>UploadDeets</servlet-name>
        <servlet-name>DownloadDeets</servlet-name>
        <servlet-name>LogFileReader</servlet-name>
    </filter-mapping> 
    
    <filter-mapping>  
        <filter-name>LogFilter</filter-name>  
        <servlet-name>ChartProvider</servlet-name>
        <servlet-name>ManageRecord</servlet-name>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-name>ShowDetail</servlet-name>
        <servlet-name>ManageTable</servlet-name>
        <servlet-name>ManageMember</servlet-name>
        <servlet-name>ManageDatabase</servlet-name>
        <servlet-name>ManageOrganization</servlet-name>
        <servlet-name>UploadDeets</servlet-name>
        <servlet-name>DownloadDeets</servlet-name>
        <servlet-name>LogFileReader</servlet-name>
    </filter-mapping>  
    
    <filter-mapping>  
        <filter-name>OrganizationFilter</filter-name>  
        <servlet-name>ManageOrganization</servlet-name>
    </filter-mapping> 
 
    <filter-mapping>  
        <filter-name>DatabaseFilter</filter-name>  
        <servlet-name>UploadDeets</servlet-name>
        <servlet-name>DownloadDeets</servlet-name>
        <servlet-name>ManageDatabase</servlet-name>
    </filter-mapping> 
    
   <filter-mapping>  
        <filter-name>TableFilter</filter-name>  
        <servlet-name>UploadDeets</servlet-name>
        <servlet-name>DownloadDeets</servlet-name>
        <servlet-name>ManageTable</servlet-name>
        <servlet-name>ManageRecord</servlet-name>
    </filter-mapping>  
    
   <filter-mapping>  
        <filter-name>AccountFilter</filter-name>  
        <servlet-name>ManageMember</servlet-name> 
    </filter-mapping> 
    
    <servlet>
        <servlet-name>ManageOrganization</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.databasemanagement.ManageOrganization</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>ManageDatabase</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.databasemanagement.ManageDatabase</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManageTable</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.databasemanagement.ManageUserTable</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>ManageRecord</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.databasemanagement.ManageRecords</servlet-class>
    </servlet>  
    
    <servlet>
        <servlet-name>ShowDetail</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.databasemanagement.ShowDeets</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>AuthToken</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.accountmanagement.AuthManagement</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ManageMember</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.orgmanagement.ManageMember</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DownloadDeets</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.orgmanagement.DownloadDeets</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UploadDeets</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.orgmanagement.UploadDeets</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LogFileReader</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.orgmanagement.LogFileReader</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ChartProvider</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.orgmanagement.ChartProvider</servlet-class>
    </servlet> 
    
    
    <servlet-mapping>
        <servlet-name>LogFileReader</servlet-name>
        <url-pattern>/getLogFileNames</url-pattern>
        <url-pattern>/getLogFile</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UploadDeets</servlet-name>
        <url-pattern>/uploadDB</url-pattern>
        <url-pattern>/uploadTable</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>DownloadDeets</servlet-name>
        <url-pattern>/downloadDB</url-pattern>
        <url-pattern>/downloadTable</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>ManageOrganization</servlet-name>
        <url-pattern>/createOrg</url-pattern>
        <url-pattern>/shareOrg</url-pattern>
        <url-pattern>/deleteOrg</url-pattern>
        <url-pattern>/api/createOrg</url-pattern>
        <url-pattern>/api/deleteOrg</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageDatabase</servlet-name>
        <url-pattern>/createDB</url-pattern>
        <url-pattern>/shareDB</url-pattern>
        <url-pattern>/renameDB</url-pattern>
        <url-pattern>/deleteDB</url-pattern>
        <url-pattern>/api/createDB</url-pattern>
        <url-pattern>/api/renameDB</url-pattern>
        <url-pattern>/api/deleteDB</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>ManageTable</servlet-name>
        <url-pattern>/createTable</url-pattern>
        <url-pattern>/renameTable</url-pattern>
        <url-pattern>/shareTable</url-pattern>
        <url-pattern>/deleteTable</url-pattern>
        <url-pattern>/alterTable</url-pattern>
        <url-pattern>/api/createTable</url-pattern>
        <url-pattern>/api/renameTable</url-pattern>
        <url-pattern>/api/deleteTable</url-pattern>
        <url-pattern>/api/alterTable</url-pattern>
    </servlet-mapping>  
     
    <servlet-mapping>
        <servlet-name>ManageRecord</servlet-name>
        <url-pattern>/addRecord</url-pattern>
        <url-pattern>/deleteRecord</url-pattern>
        <url-pattern>/updateRecord</url-pattern>
        <url-pattern>/readRecord</url-pattern>
        <url-pattern>/api/readRecord</url-pattern>
        <url-pattern>/api/addRecord</url-pattern>
        <url-pattern>/api/deleteRecord</url-pattern>
        <url-pattern>/api/updateRecord</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>ManageMember</servlet-name>
        <url-pattern>/createMember</url-pattern>
        <url-pattern>/deleteMember</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ShowDetail</servlet-name>
        <url-pattern>/getOrgName</url-pattern>
        <url-pattern>/api/getOrgName</url-pattern>
        <url-pattern>/getDBName</url-pattern>
        <url-pattern>/api/getDBName</url-pattern>
        <url-pattern>/getTableName</url-pattern>
        <url-pattern>/api/getTableName</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>AuthToken</servlet-name>
        <url-pattern>/api/createAuth</url-pattern>
        <url-pattern>/createAuth</url-pattern>
        <url-pattern>/deleteAuth</url-pattern>
        <url-pattern>/getAuth</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
        <servlet-name>ChartProvider</servlet-name>
        <url-pattern>/chartMake</url-pattern>
    </servlet-mapping> 
    
    
    <filter>  
        <filter-name>LogInFilter</filter-name>  
        <filter-class>zutk.b5.orgdat.controllers.filters.LogInFilter</filter-class>  
    </filter> 
    
    <filter-mapping>  
        <filter-name>LogInFilter</filter-name>  
        <servlet-name>SignUp</servlet-name>
        <servlet-name>SignIn</servlet-name>
        <servlet-name>ForgetPassword</servlet-name>
    </filter-mapping> 
    
    
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.accountmanagement.UserSignUp</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.accountmanagement.UserSignIn</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.accountmanagement.UserLogout</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.accountmanagement.EditProfile</servlet-class>
    </servlet>   
    
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.accountmanagement.ForgetPassword</servlet-class>
    </servlet> 
    
    
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.accountmanagement.UserDeleteAccount</servlet-class>
    </servlet> 
    
    
    <servlet>
        <servlet-name>SecuritySettings</servlet-name>
        <servlet-class>zutk.b5.orgdat.controllers.accountmanagement.SetAndChangeSecurity</servlet-class>
    </servlet> 
    
    
    <servlet-mapping>
        <servlet-name>SecuritySettings</servlet-name>
        <url-pattern>/changePassword</url-pattern>
        <url-pattern>/changeQuestion</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>     
    
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editProFile</url-pattern>
    </servlet-mapping>
    
    
     <servlet> 
        <servlet-name>OtherVice</servlet-name>
        <jsp-file>/HTML/org_dat.html</jsp-file>
    </servlet>
     
    <servlet-mapping> 
        <servlet-name>OtherVice</servlet-name>
        <url-pattern>/v1/*</url-pattern>
    </servlet-mapping>
    
  
</web-app>
