<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>OrgDat</display-name>
    <description>
        Store One Organization Databases
    </description>
    <filter>  
        <filter-name>CookieFilter</filter-name>  
        <filter-class>ZUTK.B5.OrgDat.Controllers.Filters.CookieFilter</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>CookieFilter</filter-name>  
        <url-regexp>^(\/[a-z][a-z0-9]{3,20}){1,3}\/\$[a-z][a-z0-9]{3,20}</url-regexp>  
    </filter-mapping>  
    
    <filter>  
        <filter-name>LogFilter</filter-name>  
        <filter-class>ZUTK.B5.OrgDat.Controllers.Filters.LogFilter</filter-class>  
    </filter> 
    <filter-mapping>  
        <filter-name>LogFilter</filter-name>  
        <url-regexp>^(\/[a-z][a-z0-9]{3,20}){1,3}\/\$[a-z][a-zA-Z0-9]{3,20}</url-regexp>  
    </filter-mapping>  
   
    <filter>  
        <filter-name>DownloadFilter</filter-name>  
        <filter-class>ZUTK.B5.OrgDat.Controllers.Filters.DownloadFilter</filter-class>  
    </filter> 
    <filter-mapping>  
        <filter-name>DownloadFilter</filter-name>  
        <url-regexp>^(\/[a-z][a-z0-9]{3,20}){2}\/\$downloadDB</url-regexp> 
        <url-regexp>^(\/[a-z][a-z0-9]{3,20}){3}\/\$downloadTable</url-regexp> 
    </filter-mapping>
    <filter>  
        <filter-name>DatabaseFilter</filter-name>  
        <filter-class>ZUTK.B5.OrgDat.Controllers.Filters.DatabaseFilter</filter-class>  
    </filter> 
    <filter-mapping>  
        <filter-name>DatabaseFilter</filter-name>  
        <url-regexp>^(\/[a-z][a-z0-9]{3,20}){2}\/\$(renameDB|deleteDB|createDB)</url-regexp> 
    </filter-mapping>
   
    <filter>  
        <filter-name>OrganizationFilter</filter-name>  
        <filter-class>ZUTK.B5.OrgDat.Controllers.Filters.OrganizationFilter</filter-class>  
    </filter> 
    <filter-mapping>  
        <filter-name>OrganizationFilter</filter-name>  
        <url-regexp>^(\/[a-z][a-z0-9]{3,20}){2}\/\$(createOrg|deleteOrg)</url-regexp> 
    </filter-mapping>
    
    
    <filter>  
        <filter-name>TableFilter</filter-name>  
        <filter-class>ZUTK.B5.OrgDat.Controllers.Filters.TableFilter</filter-class>  
    </filter> 
    <filter-mapping>  
        <filter-name>TableFilter</filter-name>  
        <url-regexp>^(\/[a-z][a-z0-9]{3,20}){3}\/\$[a-z][a-zA-Z0-9]{3,20}</url-regexp> 
    </filter-mapping>
   
    <servlet>
        <servlet-name>ManageTable</servlet-name>
        <servlet-class>ZUTK.B5.OrgDat.Controllers.DatabaseManageMent.ManageTable</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManageDatabase</servlet-name>
        <servlet-class>ZUTK.B5.OrgDat.Controllers.DatabaseManageMent.ManageDatabase</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManageOrganization</servlet-name>
        <servlet-class>ZUTK.B5.OrgDat.Controllers.DatabaseManageMent.ManageOrganization</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>ManageRecord</servlet-name>
        <servlet-class>ZUTK.B5.OrgDat.Controllers.DatabaseManageMent.ManageRecord</servlet-class>
    </servlet>  
    
    <servlet>
        <servlet-name>ShowDetail</servlet-name>
        <servlet-class>ZUTK.B5.OrgDat.Controllers.DatabaseManageMent.ShowDetail</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>AuthToken</servlet-name>
        <servlet-class>ZUTK.B5.OrgDat.Controllers.AccountManagement.AuthManagement</servlet-class>
    </servlet>
    
</web-app>
