<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>OrgDat</display-name>
    <description>
        Store One Organization Databases
    </description>

    <servlet>
        <servlet-name>ManageTable</servlet-name>
        <servlet-class>DatabaseManageMent.ManageTable</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManageDatabase</servlet-name>
        <servlet-class>DatabaseManageMent.ManageDatabase</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManageOrganization</servlet-name>
        <servlet-class>DatabaseManageMent.ManageOrganization</servlet-class>
    </servlet> 
    
    <servlet>
        <servlet-name>ManageRecord</servlet-name>
        <servlet-class>DatabaseManageMent.ManageRecord</servlet-class>
    </servlet>  
    
    <servlet>
        <servlet-name>ShowDetail</servlet-name>
        <servlet-class>DatabaseManageMent.ShowDetail</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ManageOrganization</servlet-name>
        <url-pattern>/createOrg</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageOrganization</servlet-name>
        <url-pattern>/deleteOrg</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageTable</servlet-name>
        <url-pattern>/createTable</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageTable</servlet-name>
        <url-pattern>/deleteTable</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>ManageTable</servlet-name>
        <url-pattern>/renameTable</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageTable</servlet-name>
        <url-pattern>/addColumn</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>ManageTable</servlet-name>
        <url-pattern>/deleteColumn</url-pattern>
    </servlet-mapping>  
    
    <servlet-mapping>
        <servlet-name>ManageTable</servlet-name>
        <url-pattern>/alterTable</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>ManageDatabase</servlet-name>
        <url-pattern>/createDB</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageDatabase</servlet-name>
        <url-pattern>/deleteDB</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>ManageDatabase</servlet-name>
        <url-pattern>/renameDB</url-pattern>
    </servlet-mapping>   
    
    <servlet-mapping>
        <servlet-name>ManageRecord</servlet-name>
        <url-pattern>/addRecord</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManageRecord</servlet-name>
        <url-pattern>/deleteRecord</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>ManageRecord</servlet-name>
        <url-pattern>/editRecord</url-pattern>
    </servlet-mapping>      
    
    <servlet-mapping>
        <servlet-name>ManageRecord</servlet-name>
        <url-pattern>/getRecord</url-pattern>
    </servlet-mapping>      

    <servlet-mapping>
        <servlet-name>ShowDetail</servlet-name>
        <url-pattern>/getOrgName</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ShowDetail</servlet-name>
        <url-pattern>/getDBName</url-pattern>
    </servlet-mapping>    
    
    <servlet-mapping>
        <servlet-name>ShowDetail</servlet-name>
        <url-pattern>/getTableName</url-pattern>
    </servlet-mapping>      
</web-app>
